.section1{
 background-image: url("drew-coffman-1872.jpg");
  height: 100vh;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.nav{
    list-style-type: none;
    padding: 0 110px;
    /* margin: 0; */
}
.nav li{
    display: inline-block;
    color: white;
   padding: 0px 15px;
   font-size: 18px;
}
.navItems{
    float: right;
    padding-top: 15px;
}
.welcome{
    height: 50vh;
    width: 650px;
    text-align: center;
    color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcomeText p{
    font-size: 22px;
}
.welcomeText h1{
    font-size: 76px;
}
.buttonBoxL{
    display: inline-block;
    background-color: rgb(142,119,84);
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-color: rgb(142,119,84);
    border-radius: 5px;
    border-style:solid;
}
.buttonBoxC{
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-color: white;
    border-radius: 5px;
    border-style:solid;
}
.button{
    transition-duration: 0.4s;
}
.buttonBoxC:hover{
    background-color: white;
    color:rgba(51, 51, 51);
}
.buttonBoxL:hover{
    background-color: white;
    color:rgba(51, 51, 51);
    border-color: white;
}
.section2{
    margin: 100px 150px;
    height: 70vh;
    /* overflow: hidden; */
}

.photo, .group {
    display: inline-block;
    vertical-align: top; /* Align elements */   
}
.group li{
    list-style-type: none;
    color:rgb(104,104,104);
    margin: 30px 0px;
}
.group p{
    color:rgb(104,104,104);
}
.group h1{
    color: rgb(48,48,48);
}
.group img{
    border-radius: 100%;
    border-color: rgb(230, 230,230);
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    border-width: 1px;
}
.group{
    width:500px;
    margin-left: 50px;
}
.group span{
    margin-left: 5px;
}
.group ul{
    margin-left: -40px;
}
.section3 {
    background-color: #f8f8f8;
    height: 90vh; 
}
.sectioned{ 
    margin: 50px 50px;
}
.part1{
    width: 600px;
    display: inline-block;
    vertical-align: middle;
    margin: 200px 100px;
}
.sectioned img{
    display: inline-block;
    vertical-align: middle;
}